/*Import fonts from Google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Dancing+Script&family=Gugi&family=Lato:ital,wght@1,300&family=MonteCarlo&family=Sofia&family=Style+Script&display=swap');

:root{
    --light-gray:#2b3032a1;
    --primary-color:navy;
    --border:#2b303218;
    --text-color:#ff686b;
    --roboto:"Roboto",sans-serif;
    --gugi:"Gugi",cursive;
    --sofia:"Sofia",cursive;
}

.primary-color{
    color:var(--primary-color); 
}

.bg-primary-color{
    color:var(--primary-color)!important;
}

.text-color{
    color:var(--text-color);
}

.font-roboto{
    font-family: var(--roboto);
}

.lightblue{
    color:lightblue;
}

header{
    background-color: var(--primary-color);
    font-family: var(--roboto);
}

header .site-title{
    font-family: var(--sofia);
}

.container .dropdown-toggle,
.container .dropdown-item{
    font-size:0.7em;
}

.header-links a{
    font-size:0.9em;
    text-decoration: none;
    color:white;
}

/* Navigation menu*/

.navbar-nav{
    padding:0.8em 0em;
}

.navbar-nav .nav-link{
    font-size:0.9em;
    color:var(--light-gray)!important;
}

.navbar-nav .nav-item .nav-link{
    padding:0 1.3em;
}

.navbar-nav .cart-icon{
margin-right: 6.5rem!important;
}

.fixed-height{
    min-height: 400px;
    padding: 5px;
}

.carousel-inner{
    height:400px !important;
    position: relative !important;
    background-color: khaki;
}
  
.carousel-content {
    margin:auto;
    /*position: absolute;*/
    /*bottom: 20%;
    left: 5%;*/
    z-index: 20;
    color: white;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
    /*background-color: yellow;*/
    /*height: 50%;*/
    top:30%;
   /* left:20%;*/
    /*max-width:50px;
    min-height: 50px;*/
    justify-content: center;
    align-items: center;
    /*max-width: 600px;*/
  }

@media only screen and (max-width:600px){
    .slide-2{
        top:35%;
    }

    .slide-1{
        top:10px;
    }

    .slide-4{
        top:20%;
    }
}

@media only screen and (min-width:600px){
    .slide-1{
        top : 10%;
    }

    .slide-2{
        top : 50%;
    }

    .slide-4{
        top:10%;
    }
}


@media only screen and (min-width:768px){
    .slide-1{

    }

    .slide-2{
    top:35%;
}

    .slide-3{
    top:10%;
}

    .slide-4{
        top:10%;
    }

}


@media only screen and (min-width:992px){
    .slide-3{
        top:20%;
    }

    .slide-4{
        top:10%;
    }
    }


  .gen-slide-one{
    background-image: url("/images/psy2.jpeg");
    
  }  

  .gen-slide-two{
    background-image: url("/images/psy1.jpeg");
  }

  .gen-slide-three{

  }

  .gen-slide-four{

  }

  .cwarousel-control-prev,.carwousel-control-next{
      width:40px !important;
      height:40px !important;
      order:3px solid white;
      padding:10px !important;
      border-radius: 20px;
      top:50%;
      background-color: rgb(131, 30, 45);
     
      
  }

  .carousel-control-prev-icon, .carousel-control-next-icon {
    height: 40px;
    width: 40px;
    outline: red;
    background-color: rgba(0, 0, 0, 0.3);
    background-size: 50%, 50%;
    border-radius: 50%;
    border: 3px solid white;
    padding:1px;
}

.carousel-control-prev-icon:hover, .carousel-control-next-icon:hover{
    background-color: navy;
    
}

.slide-one-text{
    font-family: var(--roboto);
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    padding-left:20px;
}

.slide-two-text{
    font-family: var(--gugi);
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    padding-left:20px;
}

.slide-one-button{
    
    padding: 15px;
    border-radius: 30px;
    border:2px outset red;
    background-color: red;
    color:white;
    font-family:var(--gugi);
    font-weight: bolder;
    font-size:25px;
    font-variant: small-caps;
    
}

.anime{
    position:relative;
}

.anime h2{
    position:absolute;
    left:50%;
    bottom:40px;
    transform: translate(-50%,-50%);
    font-size:8em;
}

.anime h2:nth-child(1){
    color: transparent;
    -webkit-text-stroke: 2px #03a9f4;

}

.anime h2:nth-child(2){
    color: #03a9f4;
    animation: animate 4s ease-in-out infinite;

}

@keyframes animate
{
    0%,100%
    {
        clip-path: polygon(0% 45%, 15% 44%, 32% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
    }
    50%{
        clip-path: polygon(0 60%, 16% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
    }
}

.slide-3 h5{
    font-size: 35px;
    font-family: var(--sofia);
    font-weight: bolder;

}

.slide-3 p{
    font-size: 25px;
    font-family: var(--roboto);
    font-weight: bold;
}

.slide-4 h5{
    font-size: 35px;
    font-family: var(--roboto);
    font-weight: bolder;

}

.slide-4 p{
    font-size: 25px;
    font-family: var(--gugi);
    font-weight: bold;
}